<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AttendMate</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="teacher">
        <h2>LIVE FEED</h2>

        <img src="/video_feed" width="640" height="480">
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
<!-- @app.get("/")
def home(request: Request):
    return templates.TemplateResponse("index.html", {"request": request}) -->
<!-- from fastapi.responses import StreamingResponse
from fastapi.staticfiles import StaticFiles
from fastapi.templating import Jinja2Templates -->