<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AttendMate</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <style>
        body {
        height: 100vh;
        background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        color: white;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <div class="logo">AttendMate</div>
        <a href="/login" class="login-btn">Login</a>
    </div>

    <div class="hero">
        <h1>AttendMate</h1>
        <p>Smart Attendance. Powered by AI.</p>
    </div>

</body>
</html>
